<div class="container">
    <div class="card">
        <h3 class="text-center card-title">Reset Your Password</h3>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="alert alert-danger" *ngIf="keyMissing">
                        <strong>The password reset key is missing.</strong>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <strong>Password Reset Error!</strong> {{error}}
                    </div>
                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        <strong>Password Reset Error!</strong> Password and confirm Password do not match.
                    </div>
                    <p class="alert alert-success" *ngIf="success">
                        <span ><strong>Your password has been reset.</strong> Please </span>
                        <a class="alert-link" routerLink="/login" >sign in</a>.
                    </p>
                    <div *ngIf="!keyMissing">
                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                            <div class="form-group">
                                <label class="form-control-label" for="password" >New password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       formControlName="newPassword">
                                <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('newPassword').errors.required" >
                                        Your password is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('newPassword').errors.minlength" >
                                        Your password is required to be at least 4 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </small>
                                </div>
                                <ng2-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></ng2-password-strength-bar>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="confirmPassword" >New password confirmation</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       formControlName="confirmPassword">
                                <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('confirmPassword').errors.required" >
                                        Your password confirmation is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('confirmPassword').errors.minlength" >
                                        Your password confirmation is required to be at least 4 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength" >
                                        Your password confirmation cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" >Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
