<div class="container">
    <div class="card">
        <h3 class="card-title text-center">Reset Password</h3>
        <div class="card-body">
            <div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="alert alert-danger" *ngIf="error">
                            <strong>Failed to reset password!</strong> {{error}}
                        </div>
                        <div class="alert alert-success" *ngIf="success">
                            <strong>Check your emails for details on how to reset your password.</strong>
                        </div>
                        <form name="form" role="form" (ngSubmit)="submit()" *ngIf="!success">
                            <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       [formControl]="emailCtrl" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
